#main, #right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#main {
    flex-direction: row;
}

#right {
    flex-direction: column;
}

h1 {
    font-size: xxx-large;
    color: white;
}