#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: transparent;
    backdrop-filter: blur(100px); */
    background-color: rgba(0.3, 0.3, 0.3, 0.6);
    color: white;
    min-width: 100%;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin-bottom: 5%;
}

#logoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 20%;
    padding-left: 2%;
}


h3 {
    padding-right: 2%;
}

#metamask {
    max-width: 3%;
    padding-right: 2%;
}